
html {
background: linear-gradient(180deg,#121212, #202020,#323232, #323232,#323232, #323232);
width: auto;
scroll-behavior: smooth;
overflow-x: hidden;
overflow: hidden;
}
body{
  overflow: hidden;
}
::-webkit-scrollbar{
  overflow: hidden;
}
::-webkit-scrollbar{
  overflow: hidden;
  display: none;
}
.containers{
  margin-left: 75px;
  margin-top: -620px;
}
.container {
  height: 400px;
  width: 1000px;
  margin-left: 120px;
  border-radius:35px;
  margin-top: 120px;
  transform-style: preserve-3d;
  overflow:hidden;
  background-color: rgb(67, 67, 67);
  box-shadow: 20px 20px 60px rgb(207, 223, 255),
  -20px -20px 60px rgb(207, 223, 255);
}
.container2 {
  margin-top:200px;
  margin-left: 215px;
  background-color: rgb(255, 255, 255);
  height: 170px;
  width: 270px;
  border-radius: 30px;
  cursor: pointer;
  transform:
  rotateX(51deg)
  rotateZ(43deg);
  transform-style: preserve-3d;
  border-radius: 32px;
  box-shadow:
    1px 1px 0 1px #f9f9fb,
    -1px 0 28px 0 rgb(0, 0, 0),
    28px 28px 28px 0 rgb(0, 0, 0);
  transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;

  &:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgb(0, 0, 0),
      54px 54px 28px -10px rgb(0, 0, 0);
  }
}

.container3 {
    margin-top:-30px;
    margin-bottom: 0px;
    margin-left: 470px;
    background-color: rgb(255, 255, 255);
    height: 170px;
    width: 270px;
    border-radius: 30px;
    cursor: pointer;
    transform:
      rotateX(51deg)
      rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgb(0, 0, 0),
      28px 28px 28px 0 rgb(0, 0, 0);
    transition:
      .4s ease-in-out transform,
      .4s ease-in-out box-shadow;
  
    &:hover {
      transform:
        translate3d(0px, -16px, 0px)
        rotateX(51deg)
        rotateZ(43deg);
      box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgb(0, 0, 0),
        54px 54px 28px -10px rgb(0, 0, 0);
    }
  }
.container4 {
    margin-top: -25px;
    margin-bottom: -125px;
    margin-left: 730px;
    background-color: rgb(255, 255, 255);
    height: 170px;
    width: 270px;
    border-radius: 30px;
    cursor: pointer;
    transform:
      rotateX(51deg)
      rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgb(0, 0, 0),
      28px 28px 28px 0 rgb(0, 0, 0);
    transition:
      .4s ease-in-out transform,
      .4s ease-in-out box-shadow;
  
    &:hover {
      transform:
        translate3d(0px, -16px, 0px)
        rotateX(51deg)
        rotateZ(43deg);
      box-shadow:
        1px 1px 0 1px #f9f9fb,
        -1px 0 28px 0 rgb(0, 0, 0),
        54px 54px 28px -10px rgb(0, 0, 0);
    }
}
.car1 {
  width: 600px;
    padding-left: 650px;
    margin-top: -120px;
    background: none;
}
.car2 {
  width: 600px;
    margin-left: -60px;
    margin-top: -350px;
    background:none;
    overflow: visible;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   
.header {
    margin-top: -320px;
    margin-left: 500px;
} 
.header h1 {
    margin-right: -40px;
    font-size: 55px;
    line-height: 25px;
    animation: color-change 10s infinite;
    position: relative;
}

@keyframes color-change {
  0% { color: rgb(60, 138, 255); }
  25% { color: rgb(154, 186, 255); }
  50% { color: rgb(197, 228, 255); }
  75% { color: rgb(154, 186, 255); }
  100% { color: rgb(60, 138, 255); }
}

.lang {
  margin-top: 380px;
  margin-right: 65px;
  position: relative;
}
.dev {
    text-indent: 0px;
}
     .header p {
    line-height: 15px;
    text-indent:1px;  
    margin-top: 9px;
    font-size: 20px;
    -webkit-text-fill-color:#ffffff;
    position: relative;
}
 .split {
   margin-left: 0px;
   
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 80% 80%;       /* Pivot around the bottom-left palm */
    font-size: 45px;
    float: right;
    margin-top: -165px;
    margin-right: 440px;
}
  
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }    
}
.pin {
    float: right;
    margin-top: -40px;
    margin-right: 500px;
}
.insta {
    float: right;
    margin-top: -343px;
    margin-right: 660px;
    width: 58px;
    transition: .5s;
}
.insta:hover {
  transform: scale(1.4);
    cursor: pointer;
}
.link {
    float: right;
    margin-top: -340px;
    margin-right: 585px;
    width: 50px;
    transition: .5s;
}
.link:hover {
  transform: scale(1.4);
    cursor: pointer;
}
.git {
    float: right;
    margin-top: -342px;
    margin-right: 505px;
    border-radius: 50px;
    width: 50px;
    transition: .5s;
}
.git:hover {
    cursor: pointer;
    transform: scale(1.4);
}
.myImg {
    height: 320px;
    background: transparent;
    margin-top: 100px;
    margin-left: -1080px;
    position: relative;
}
.surface{
  margin-left: -579px;
  margin-top: -500px;
  width: auto;
}

.heading {
    margin-top:110px;
    padding: 0px;
}
  
nav {
  position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -80px;
    padding-left: 60px;
    font-family: "Montserrat", sans-serif;
}
  
.heading {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
  
.nav-links {
    display: flex;
}
  
.nav-links a {
    color: rgb(255, 255, 255);
    background: none;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
    display: block;
    display: inline;
}
  
.nav-links a:hover {
  
    background-color: rgb(150, 218, 255);
    border-radius: 8px;
}
.nav-links a.active {
    margin-left: 10px;
    margin-right: 200px;
    float: left;
    font-size: large;
    -webkit-text-fill-color: #A7C9FF;
    margin-top: -8px;
}
.nav-links a.active:hover {
    cursor:default;
    background: fixed;
}
.nav-links a.hire {
    background-color: black;
    border-radius: 8px;
    margin-left: 0px;
}

.ground {
  font-size: 75px;
  transform:
  translate3d(0px, -16px, 0px)
  rotateX(51deg)
  rotateZ(43deg);
  margin-left: 350px;
  margin-top:-120px;
  color: rgba(0, 0, 0, 0.352);
  text-shadow: 4px 4px 6px #fff, 0 0 0 #000, 4px 4px 6px #fff;
  mix-blend-mode:multiply;
}
.road {
  padding-left: 80px;
}
.cones{
  width: 150px;
  margin-left: 620px;
  margin-top: -800px;
  margin-bottom: 110px;
}
.cones2{
  width: 150px;
  float:left;
  margin-top: -440px;
  margin-left: 360px;
  background: none;
  position:static;
}
#projects{
  margin-top: 400px;
  width: auto;
  margin-left: 20px;
}
.project{
  margin-left: 10px;
  margin-top: -300px;
  height: 650px;
  align-items: stretch;
  overflow: hidden;
  width: auto;
}
.full-screen {
  position: fixed;
  animation: go-full-screen forwards 500ms ease-in-out;
  inset: var(--inset);
}

.shrink-down {
  animation: go-full-screen reverse backwards 500ms ease-in-out !important;
}

@keyframes go-full-screen {
  from {
    inset: var(--inset);
  }
  to {
    transform:
    rotateX(180deg)
    rotateZ(180deg);
    height: 800px;
    width: 1270px;
    margin-top: 0px;
    margin-left: 0px;
    inset: 0;
  }
}
.about1{
  width: 1200px;
  height: 1100px;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 650px;
}
.title2{
  font-size: 50px;
  margin-left: 470px;
  margin-top: 150px;
  position: absolute;
  animation: color-change 10s infinite;
}

@keyframes color-change {
  0% { color: rgb(60, 138, 255); }
  25% { color: rgb(154, 186, 255); }
  50% { color: rgb(197, 228, 255); }
  75% { color: rgb(154, 186, 255); }
  100% { color: rgb(60, 138, 255); }
}
.introMain{
  width: 500px;
  height: 500px;
  margin-top: 180px;
  margin-left: 50px;
}
.intro{
font-size: 25px;
padding-left: 150px;
  font-family: 'Francois One', sans-serif;
  -webkit-text-fill-color: rgb(60, 138, 255);
}
.introP{
padding-left: 5px;
padding-right: 20px;
font-size: 15px;
font-family: 'Francois One', sans-serif;
display: flex;
-webkit-text-fill-color: #cadbff;
}
.hands{
  width: 150px;
  padding-left: 170px;
  padding-top: 50px;
  overflow: visible;
  background: none;
  display: flex;
}
.introCon{
  width: 500px;
  height: 500px;
  margin-left: 0px;
  margin-top: -500px;
  overflow: hidden;
  border-radius: 30px;
}
.challenges{
  width: 500px;
  height: 500px;
  margin-left: 700px;
  margin-top: -500px;
  overflow: hidden;
  border-radius: 30px;
}

.challenge{
  padding-left: 150px;
  padding-top: 10px;
  font-family: 'Francois One', sans-serif;
  -webkit-text-fill-color: rgb(60, 138, 255);
}
.text{
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Francois One', sans-serif;
  -webkit-text-fill-color: #cadbff;
}
.hill{
  width: 170px;
  padding-top: 5px;
  padding-left: 150px;
}
.adversity{
  width: 500px;
  height: 500px;
  padding-left: 50px;
}
.adversity2{
  font-family: 'Francois One', sans-serif;
  margin-top: -80px;
  margin-left: 120px;
  -webkit-text-fill-color: rgb(60, 138, 255);
}
.adver{
  width: 350px;
  margin-top: -90px;
  margin-left:50px;
  background: none;
}
.text2{
  font-family: 'Francois One', sans-serif;
  -webkit-text-fill-color: #cadbff;
}
.key{
  width: 500px;
  height: 500px;
  margin-top: -500px;
  margin-left: 700px;
}
.key1{
  width: 180px;
  margin-left: 150px;
  margin-top: 0px;
}
.key2{
  font-family: 'Francois One', sans-serif;
  padding-left: 150px;
  padding-top: -10px;
  -webkit-text-fill-color: rgb(60, 138, 255);
}
.text3{
  font-family: 'Francois One', sans-serif;
  -webkit-text-fill-color: #cadbff;
}
.cubeCon model-viewer{
width: 500px;
height: 500px;
  margin-top: -400px;
  margin-left: 400px;
  filter:drop-shadow(0 0 10px rgb(0, 0, 0)) 
}
.cubeCon {
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin-left: 300px;
  margin-top: 500px;
}
.me {
  width: 600px;
  height: 400px;
  margin-top: -450px;
  margin-left: -250px;
}
.me1{
  font-family: 'Francois One', sans-serif;
  padding-left: 50px;
  font-size: 40px;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: rgb(44, 128, 255); }
  25% { color: rgb(138, 175, 255); }
  50% { color: rgb(197, 228, 255); }
  75% { color: rgb(138, 175, 255); }
  100% { color: rgb(44, 128, 255); }
}
.me2{
  font-family: 'Francois One', sans-serif;
  padding-left: 0px;
  font-size: 20px;
  -webkit-text-fill-color: #cadbff;
  overflow: hidden;
}

.glow-on-hover {
  margin-left: 150px;
  margin-top: 0px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #8ebdff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Francois One', sans-serif;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #5d62f8
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
#particles-js {
  width: auto;
  height: 1600px;
  margin-bottom: -1600px;
}
.contact{
  margin-left: -20px;
  width: auto;
  margin-top: 100px;
  height: 500px;
}
.contactMe{
  padding-left: 680px;
  margin-top: -410px;
  font-size: 25px;
  -webkit-text-fill-color: white;
}
.contactMe::before{
  content: "<h1> ";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#name{
  background: transparent;
 border: none;
  width: 20px;
  font-size: 17px;
  -webkit-text-fill-color: white;
  outline: 0px solid transparent;
  font-family: Consolas, 'Courier New', monospace;
  caret-color: #002bff;
  cursor:text;
}
#email{
  background: transparent;
 border: none;
  width: 20px;
  font-size: 17px;
  -webkit-text-fill-color: white;
  outline: 0px solid transparent;
  font-family: Consolas, 'Courier New', monospace;
  caret-color: #002bff;
  cursor:text;
}
#subject{
  background: transparent;
  border: none;
   width: 20px;
   font-size: 17px;
   -webkit-text-fill-color: white;
   outline: 0px solid transparent;
   font-family: Consolas, 'Courier New', monospace;
  font-size: 17px;
  caret-color: #002bff;
  cursor:text;
}
.rocket { 
 width: 40px;
float: right;
margin-right: 240px;
margin-top: -60px;
}
.contactMe::after{
  word-spacing: 45px;
  content: " </h1>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
.chat{
  font-size: 40px;
  margin-left: 50px;
  padding-top: 80px;
  -webkit-text-fill-color: white;
}
.chat2{
  margin-top:0px;
  margin-left: 50px;
  font-size: 40px;
  -webkit-text-fill-color: white;
}
.contactTitle{
  background-color: #111111;
  overflow: visible;
  width: 1282px;
  height: 550px;
  padding-left: 70px;
  margin-top: -100px;
}
#comments{
  background: transparent;
  border: none;
   font-size: 17px;
   -webkit-text-fill-color: white;
   outline: 0px solid transparent;
   font-family: Consolas, 'Courier New', monospace;
  caret-color: #ffe100;
  cursor:text;
}
.send{
  background-color: #002bff;
  width: 130px;
  height: 40px;
  border-radius: 08px;
  margin-left: 810px;
  margin-top: 30px;
  border: #000;
  font-family: 'Francois One', sans-serif;
  -webkit-text-fill-color: white;
  cursor: pointer;
}
#name::before{
  content: "<Name>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#name::after{
  content: "<Name>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#email::before{
  content: "<Email>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#email::after{
  content: "<Email>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#subject::before{
  content: "<Subject>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#subject::after{
  content: "<Subject>";
  -webkit-text-fill-color: #002bff;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#comments::before{
  content: "#comments { ";
  -webkit-text-fill-color: #b9c628;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
#comments::after{
  content: " }";
  -webkit-text-fill-color: #b9c628;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
}
.doc1{
  font-size: 20px;
  -webkit-text-fill-color: #002bff;
  outline: 0px solid transparent;
  font-family: Consolas, 'Courier New', monospace;
  margin-left: 600px;
  padding-top: 40px;
  opacity: 20%;
}
.comment{
  width: 450px;
  height: 100px;
  margin-left: 705px;
  margin-top: -10px;
  overflow: scroll;
}
.nameCon{
  width: 450px;
  height: 20px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: -10px;
  overflow: hidden;
}
.mail{
  width: 450px;
  height: 20px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: -10px;
}
.subjectCon{
  width: 450px;
  height: 20px;
  overflow: hidden;
  margin-left: 700px;
  margin-top: -10px;
}
.email-link{
  margin-left: 50px;
  margin-bottom: 140px;
  padding-top: 40px;
}
.emailMe{
  -webkit-text-fill-color: white;
  font-size: 16px;
  letter-spacing: 1px;
}
.email-link svg {
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.resume{
  width: auto;
  margin-left: -10px;
  height: 550px;
  margin-top: 100px;
  background: linear-gradient(180deg, #323232, #252525, #1c1c1c, #111111);
}

@media (max-width: 760px){
  .shrink1{
    transform:scale(0.5);
    }
  #shrink2{
    transform:scale(0.5);
  }
  #shrink3{
    transform:scale(0.5);
  }
  #shrink4{
    transform:scale(0.4);
  }
  .header{
    margin-left: 425px;
  }
  .nav-links{
    margin-left: 0px;
  }
}
#skills{
  width: auto;
  height: 600px;
  margin-top: -450px
}
.moon{
  width: 1000px;
 margin-top: 0px;
 margin-left: -70px;
}
.planet1{
  width: 300px;
  margin-left: 920px;
}
.clouds{
  position: absolute;
  margin-top: -700px;
  margin-left: -500px;
  width: 1280px;
  height: 850px;
  pointer-events: none;
  overflow: hidden;
}
.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
}
@keyframes animate{
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%, 75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}